*{
    margin: 0; 
}

#wrap{
    width: 100%; height: auto; margin: auto; 
   
}

/* ============================ */
header{
    width: 100%; height:80px; background-color: #ec7357; 
   position: fixed; top: 0; left: 0;
   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

#head{
    position: static;
}

.group_01{
    width: 100%; margin:auto; padding-top: 20px; padding-bottom: 20px;
}

.logo{
    float: left; margin-right: 20px; margin-left: 100px;
    
}

.logo img{
    display: block; width: 76px; height: 40px; 
}

.search{
    border-radius: 16px; width: 500px; height: 42px;
    background-color: #fff; margin: auto; float: left;
    
}

#search_icon{
    width: 22px; height: 22px; float: left; display: inline-block;
    vertical-align: center; padding-top: 12px;
    padding-left: 12px; 
}

.search a{
    color: #000; width: inherit; height: inherit; font-family: 'Do Hyeon', sans-serif;
}

.search p{
    font-size: 16px; text-align: center; font-family: 'Do Hyeon', sans-serif;
    float: right; line-height: 43px; 

}

.center{
    padding-right: 230px; 
}   

li{
    display: inline-block; width: 100%; font-family: 'Noto Sans KR', sans-serif;
}

ul{
     float: right;
}

.nav{
    float: right; width: 650px;
}

.nav a{
    text-decoration: none; color: #fff;
    display: inline-block; font-weight: 400; width: 140px;
    text-align: center; line-height: 40px;
}

.nav li{
    border-left: 1px solid #fff;
}

.nav a:hover{
    font-size: 1.1rem; line-height: 36px; font-weight: bold;
}

/* ============================= */
.pic{
    width: 100%; height: 510px; 
    background-image: url(https://i.postimg.cc/rsM09kwS/Kakao-Talk-20201207-012452216.png);
    background-repeat: no-repeat; background-size: cover; background-position: center center;
    
}

.box{
    width: 100%; height: 510px;
    background-color: rgba(255, 255, 255, 0.4); margin: auto; 
}

h1{
    font-size: 50px; font-family: 'Noto Sans KR', sans-serif;
    line-height: 510px; text-align: center;  font-weight: 600;
}




/* ============================= */
.content{
    width: 100%; height: auto; margin: auto; 
}

.all{
    width: 1000px; height: auto; margin: auto; border: 1px solid #f0f0f3;
    margin-top: 60px; margin-bottom: 60px; background-color: #f0f0f3; padding-bottom: 40px;
}

.title{
    width: 880px; margin: 40px;
    background-color: white; margin-bottom: 20px; padding: 20px; font-weight: 100; margin-bottom: 0px;
}

h2{
    
    padding-bottom: 20px; font-size: 30px; font-weight: 500;
}

h4{
    font-size: 16px; padding-bottom: 20px;
    font-family: "SpoqaHanSans", "Noto Sans SC", "APPLE SD Gothic NEO", "sans-serif"; font-weight:100;
    border-bottom: 1px solid #e6e6eb; 
}

h3{
    font-size: 16px; font-weight: 100; padding-top: 0px;
    padding-bottom: 20px;
}

.sub h2{
    padding-top: 0; font-family: "SpoqaHanSans", "Noto Sans SC", "APPLE SD Gothic NEO", "sans-serif";
}

.sub{
    width: 880px; margin: 40px;
    margin: auto; background-color: white; padding: 20px; padding-top:0px; padding-bottom: 0px;
}

h5{
    font-size: 18px; padding-bottom: 20px; font-weight: 100; font-family: "SpoqaHanSans", "Noto Sans SC", "APPLE SD Gothic NEO", "sans-serif";
}

.img img{
    width: 820px; height: 600px; margin: auto; display: block; padding-top: 0px;
    
}

.img{
    width: 920px; margin: 40px; margin-bottom: 0px; background-color: white; margin-top: 0px;
}

.detail{
    width: 820px; margin: 40px; height: auto; font-size: 16px; text-align: justify;
    margin: auto; margin-bottom: 40px; background-color: white; padding: 50px; padding-top: 40px; padding-bottom: 40px;
  font-family: "SpoqaHanSans", "Noto Sans SC", "APPLE SD Gothic NEO", "sans-serif";
  margin-top: 0px; text-align: center; line-height: 200%; font-weight: 400; margin-bottom: 0px;
}

.map{
    width: 920px; background-color: white; margin: auto; margin-top: 0px;
}
iframe{
    display: block; margin: auto; 
}
/* ============================= */
 footer{
    width: 100%; height: auto; background-color: #ec7357; 
    float: left; 
}

.foot_content{
    width: 50%;
    float: left; box-sizing: border-box;

}

.foot_logo img{
    width: 100px; padding-left: 70px; padding-top: 28px; 
}
.foot_content p{
    padding-left: 70px; padding-top: 12px; color: #f0f0f3;
    font-size: 12px; 
}

.per{
    width: 10%; float: right;
     height: 150px; padding-top: 50px; box-sizing: border-box;
}

.per span{
    font-size: 16px; padding-right: 12px;
    color: #fff; font-weight: 400; 
}

footer i{
    color: #fff; padding-right: 10px; 
}

.per p{
    color: #f0f0f3;  font-size: 14px; padding-right: 100px;
    padding-top: 5px; text-align: right;
}